<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="newpost.css" />
  </head>
  <body>
      <div class="container">
        <h2>New Post</h2>
        <form id="profileForm" action="/createPost" method="post" enctype="multipart/form-data">
            <textarea name="caption" placeholder="Caption..." required></textarea>
            <br>
            <br>
            <input type="file" name="photo" accept="image/*">
            <button type="submit">POST</button>
        </form>
    </div>
    <body/>
</html>